{% extends 'base.html' %}
{% block content %}

<h2>Available Polls</h2>

{% if messages %}
<div class="messages">
{% for msg in messages %}
<p class="{{ msg.tags }}">{{msg}}</p>
{% endfor %}
</div>
{% endif %}

{% if questions %}
    <ul>
        {% for question in questions %}
        <li><a href="{% url 'polls:detail' question.id %}"> {{question.question_text}}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Sorry, no polls currently available.</p>
{% endif %}

<p>
{% if user.is_authenticated %}
   You are logged in as {{user.username}}.  <a href="{% url 'logout' %}">Logout</a>.
{% else %}
   To vote, please <a href="{% url 'login' %}">login</a>.
{% endif %}
</p>

{% endblock %}
